.git
.gitignore
.pytest_cache
**/__pycache__
**/*.pyc
**/*.pyo
.venv
venv
.env
.env.*
!.env.template
data/
dist/
build/
*.egg-info
.coverage
htmlcov/
.mypy_cache
.ruff_cache
.idea
.vscode
docker-compose*.yml
*.md
!README.md
