.git
.gitignore
.pytest_cache
**/__pycache__
**/*.pyc
**/*.pyo
.venv
venv
.env
.env.*
!.env.template
data/
!data/config/
!data/config/probe_registry/
!data/config/probe_registry/**
!data/config/executing_profiles/
!data/config/executing_profiles/**
dist/
build/
*.egg-info
.coverage
htmlcov/
.mypy_cache
.ruff_cache
.idea
.vscode
docker-compose*.yml
*.md
!README.md
